<main>
  <div class="container">
    <div class="row my-5 py-5 justify-content-center">
      <div class="col-xl-9">
        <mdb-card [formGroup]="form">
          <mdb-card-body>
            <mdb-card-title>
              <h4>Heloc Interest Calculator</h4>
            </mdb-card-title>
            <mdb-card-text>

              <div class="row">
                <div class="col-xl-4">
                  <div class="md-form input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" id="limit" formControlName="limit" class="form-control" min="0"
                      mdbInputDirective aria-label="Amount (to the nearest dollar)" data-error="*" [validateSuccess]="false">
                    <label for="limit">Heloc Limit</label>
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="md-form input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">%</span>
                    </div>
                    <input type="number" id="minPaymentRate" formControlName="minPaymentRate" class="form-control" min="0"
                      mdbInputDirective data-error="*" [validateSuccess]="false">
                    <label for="minPaymentRate">Min Payment Rate</label>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="md-form input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" id="minPayment" formControlName="minPayment" class="form-control" min="0"
                      mdbInputDirective>
                    <label for="minPayment">Min Payment</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4">
                  <div class="md-form input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">%</span>
                    </div>
                    <input type="number" id="apr" formControlName="apr" class="form-control" min="0" mdbInputDirective
                      data-error="*" [validateSuccess]="false">
                    <label for="apr">APR</label>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="md-form">
                    <input type="number" id="dailyInterestRate" formControlName="dailyInterestRate" class="form-control"
                      min="0" mdbInputDirective>
                    <label for="dailyInterestRate" class="disabled">Daily Interest Rate</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4">
                  <div class="md-form input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" id="monthlyBalance" formControlName="monthlyBalance" class="form-control" min="0"
                      mdbInputDirective data-error="*" [validateSuccess]="false">
                    <label for="monthlyBalance">Monthly Balance</label>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="md-form">
                    <input type="number" id="daysInMonth" formControlName="daysInMonth" class="form-control" min="28"
                      max="31" mdbInputDirective data-error="*" [validateSuccess]="false">
                    <label for="daysInMonth">Days in Month</label>
                  </div>
                </div>
              </div>
            </mdb-card-text>

            <div class="flex-row">
              <button mdbBtn [disabled]="form.invalid" color="primary" class="waves-light" mdbWavesEffect (click)="calculate()">Calculate</button>
              <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="reset()">Reset</button>
            </div>

            <div class="row">
              <div class="col-xl-4">
                <div class="md-form input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" id="monthlyInterestCharge" formControlName="monthlyInterestCharge" class="form-control"
                    mdbInputDirective>
                  <label for="monthlyInterestCharge" class="disabled">Monthly Interest Charge</label>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="md-form input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" id="monthlyPrincipalPayment" formControlName="monthlyPrincipalPayment" class="form-control"
                    mdbInputDirective>
                  <label for="monthlyPrincipalPayment" class="disabled">Monthly Principal Payment</label>
                </div>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</main>
